*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* We should refer to the font-size value given by the browser. Some user customize the font-size. */
  /* This defines what 1rem is. */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
